:root
{
    --backgroundColor:  #202630;
    --textButtonColor:  #202630;
    --popUpColor:#202020;
    --titlesColor: #F4DF57;
    --buttonsColor: #F4DF57;
    --textButtonHoverColor: #f4df57dc;
    --linkHoverColor: #A1BDDD;
    --linkColor: #ffffff;
    --textColor: #ffffff;
    --footerHeight: 150px;
    --fontFamily: sans-serif;
    --fontSizeDefault: 1em;
    --fontSizeTitleH1: 4em;
    --fontSizeTitleH2: 2em;
    --fontSizeTitleH3: 1.5em;
}
html{
    font-family: var(--fontFamily);
    font-size: var(--fontSizeDefault);
}
body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
}

main{
    padding: 20px;
    padding-bottom: var(--footerHeight); 
}

header {
    padding: 10px;
    text-align: center;
}

header h1{
    font-size: var(--fontSizeTitleH1);
}

h2{
    font-size: var(--fontSizeTitleH2);
}

h1, h2 {
    color: var(--titlesColor);
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav div
{
    margin: 20px;
}

nav div li:nth-child(3)
{
    text-indent: -999em;
    background-image: url("5b63414976de92d11afd4f8a068ee0b2.jpg");
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

nav div li:nth-child(3):hover
{
    object-fit: cover;
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: var(--linkColor);
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: var(--linkHoverColor);
    font-weight: bold;
}

section {
    padding: 20px;
}



ul
{
    display: flex;
    list-style-type: none;
}

nav{
    padding: 0;
    margin: 0; 
    justify-content:space-between;
}
nav ul li{
    margin-right: 10px; 
}

footer {
    text-align: center;
    width: 100%;
    position:absolute;
    bottom: 0;
}

footer ul
{
    text-align: center;
    justify-content: center;
}

footer ul li
{
    margin-right: 32px; 
}

button{
    background-color:var(--buttonsColor);
    border: none;
    color: var(--textButtonColor);
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}
button:hover
{
    background-color: var(--textButtonHoverColor);
}

.mask
{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.allert
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 200;
    width: 20%;
    background-color: var(--popUpColor);
    padding: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.allert .form-buttons{
    margin-top: 50px;
}

.allert input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

.allert textarea{
    width: 100%;
    padding: 30px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

@media (max-width: 1280px) {
    .allert
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 50%;
    background-color: var(--popUpColor);
    padding: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
}

@media (max-width: 600px) {
footer ul{
       display: block;
       margin: auto; 
    }
footer li
{
    margin-top: 10px;
}
nav ul
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
}

nav ul li {
    grid-column: 1fr;
}
}