<footer>
	<div class="footer-list">
		<h3>Prodotto</h3>
		<ul>
			<li><a href="account_page.html">I Miei Progetti</a></li>
			<li><a href="about_us.html">About Us</a></li>
		</ul>
	</div>
	<div class="footer-list">
		<h3>Risorse</h3>
		<ul>
			<li><a href="index.html">Homepage</a></li>
			<li><a href="release_notes.html">Release Notes</a></li>
			<li><a href="https://github.com/Sdraiati" target="_blank">GitHub
					<img src="github_icon.png" alt="GitHub Icon"></a></li>
		</ul>
	</div>
</footer>
</body>

</html>
