<nav>
	<div class="Logo">
		<a href="index.html"><img src="img/logo.png" alt="logo"></a>
	</div>
	<div class="Login">
		<ul>
			<li><button data-button-kind="accedi">Accedi</button></li>
			<li><button data-button-kind="registrati">Registrati</button></li>
			<li><a href="account_page.html" id="utente">Utente</a></li>
		</ul>
</nav>

<section id="accedi">
	<h2>Login</h2>
	<form id="loginForm" action="javascript:void(0)">
		<label for="inputEmail">Email:</label>
		<input type="email" id="inputEmail" name="email" required>
		<label for="inputPassword">Password:</label>
		<input type="password" id="inputPassword" name="password" required>
		<button type="button" data-button-kind="accediHide">Annulla</button>
		<button type="submit" id="submitAccedi">Accedi</button>
	</form>
</section>

<section id="registrati">
	<h2>Registrazione</h2>
	<form id="registratiForm" action="javascript:void(0)">
		<label for="inputUsername">Nome Utente:</label>
		<input type="text" id="inputUsername" name="username" required>
		<label for="inputEmail">Email:</label>
		<input type="email" id="inputEmail" name="email" required>
		<label for="inputPassword">Password:</label>
		<input type="password" id="inputPassword" name="password" required>
		<button type="button" data-button-kind="registratiHide">Annulla</button>
		<button type="submit" id="submitRegistrati">Registrati</button>
	</form>
</section>
