<!-- <title>{{Project Name}}</title> -->
<!-- Riferimento al file JavaScript esterno per la generazione del line chart -->
<!-- <script src="line_chart_script.js"></script> -->

<header>
	<h1>{{ Project Name }}</h1>
	<button type="button" id="editProjectButton">Modifica Progetto</button>
</header>

<!-- Modifica Progetto -->
<section id="editProject">
	<h2>Modifica Progetto</h2>
	<form id="editProjectForm">
		<label for="inputNewNomeProgetto">Nuovo Nome Progetto:</label>
		<input type="text" id="inputNewNomeProgetto" name="newNomeProgetto">
		<label for="inputNewDescrizioneProgetto">Nuova Descrizione:</label>
		<textarea id="inputNewDescrizioneProgetto" name="newDescrizioneProgetto"></textarea>
		<div class="form-buttons">
			<button type="button" id="submitEditProjectButton">Salva Modifiche</button>
			<button type="button" id="deleteProjectButton">Elimina Progetto</button>
			<button type="button" id="cancelEditProjectButton">Annulla</button>
		</div>
	</form>
</section>

<section id="deleteProject">
	<h2>Conferma Eliminazione Progetto</h2>
	<form id="deleteProjectForm">
		<label for="inputPassword">Inserisci la Password:</label>
		<input type="password" id="inputPassword" name="password" required>
		<div class="form-buttons">
			<button type="button" id="confirmDeleteProjectButton">Conferma Eliminazione</button>
			<button type="button" id="cancelDeleteProjectButton">Annulla</button>
		</div>
	</form>
</section>
