<section>
	<h2>Aggiornamenti della Versione 0.1</h2>
	<p>In questa versione, abbiamo completato la struttura
		progettata per il nostro sito web. I seguenti HTML sono stati
		creati:</p>
	<ul>
		<li><span lang="en">Homepage</span></li>
		<ul>
			<li><span lang="en">About Us</span></li>
			<li><span lang="en">Release Notes</span></li>
			<li><span lang="en">Account Page</span></li>
			<li><span lang="en">Project Page</span></li>
			<li><span lang="en">Cake Page</span></li>
		</ul>
	</ul>
</section>
